{% if settings.enable_currencies %}
  <div
    class="currency-picker">
    <label class="currency-picker__text">
      {{ 'cart.general.prices_shown_in' | t }}
    </label>
    <button type="button" class="currency-picker__btn js-modal-open-currency-modal">
      <span id="CurrencyFlag" class="currency-flag currency-flag--small" data-flag="{{ cart.currency.iso_code }}" aria-hidden="true"></span>
      <span id="CurrencyLabel" class="currency-picker__label">{{ cart.currency.iso_code }}</span>
    </button>
  </div>
{% endif %}
